{% extends "base.html" %}

{% block content %}
    <h1>History</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=64) }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p id="userquery">{{ input }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    {% if user is defined %}
    <h1>User: {{ user.username }}</h1>
        <p id="numqueries">total queries: {{ total }}</p>
        <hr>
        {% for submission in submissions %}
            <a id="query{{ submission.id }}" href="/history/query{{ submission.id }}">
                <!-- {{ submission.author.username }} submits: <b>{{ submission.original }}</b> <b>{{ submission.result }}</b> -->
                query{{ submission.id }}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}